@model Delivery.Models.Client

@{
    ViewBag.Title = "Login please";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart Login Form Responsive Widget Template:: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smart Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="/smart_login/web/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iSlabo+27px&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//online-fonts -->
    </head>
    <body>
        <!--header-->
        <div class="agileheader">
            <h1>Delivery</h1>
        </div>
        <!--//header-->
        <!--main-->
        <div class="main-w3l">
            <div class="w3layouts-main">
                <h2>Login Now please</h2>
               

                @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {


                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        
                
                @*<form action="#" method="post">*@
                    <input value="E-MAIL" name="Email" type="email" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}" />
                    <input value="PASSWORD" name="Password" type="password" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />
                    <span><input type="checkbox" />Remember Me</span>
                    <h6><a href="#">Forgot Password?</a></h6>
                    <div class="clear"></div>
                    <input type="submit" value="login" name="login">
                    }
                @*</form>*@
                <p>Don't Have an Account ?<a href="#" onclick="@("window.location.href='" + @Url.Action("Create", "Client") + "'") ;">Register Now</a></p>
            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <div class="footer-w3l">
            <p>&copy; 2017 Delivery's Application. All rights reserved | Designed by <a href="http://affili.net">Affilinet GmbH</a></p>
        </div>
        <!--//footer-->
        
    </body>
@section scripts{
    <script src="~/Scripts/toastr.js"></script>
    <script>
        $(function () {
            var a = '@TempData["msg"]';
            if (a != '')
              {  toastr.error("", a);
                 window.location = '#2249506';
              }

        })
    </script>
}
  
</html>
